li {
    display: inline-block;
    margin: 2px;

}
 
p{
    display: inline-block;
    align-items: center;
    margin: 4px;
    font-weight: bold;
 }
img{
    size: 20px;
}

/* div{ Generar una className 
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
} */